{% extends 'base.html.twig' %}

{% block title %}Serie {{ tv_show.title }} - Oflix{% endblock %}

{% block body %}

<h1>{{ tv_show.title }}</h1>
{{ dump(tv_show) }}
<hr>
<h2>Liste des saisons </h2>
{% for season in tv_show.seasons %}
    <h3>{{ season.seasonNumber }}</h3>
    <h4>Liste des épisodes
    {% for episode in season.episodes %}
        {{ dump(episode) }}
    {% endfor %}
    <hr>
{% endfor %}
{% endblock %}
