{% extends 'base.html.twig' %}

{% block title %}Serie {{ tv_show.title }} - Oflix{% endblock %}

{% block body %}
        <section class="py-5 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-8 mx-auto">
                    <h1 class="fw-light">{{ tv_show.title }}</h1>
                    <img src="{{ tv_show.image }}" alt="" height="400">
                    <p class="lead text-muted">
                        <a href="#"><span class="badge bg-secondary">Saison 1</span></a>
                        <a href="#"><span class="badge bg-secondary">Saison 2</span></a>
                    </p>
                    <p class="lead text-muted">
                        Avec : <a href="#">Pedro Pascal</a>, <a href="#">Diana Lee Inosanto</a>, <a href="#">Richard Ayoade</a>
                    </p>
                </div>
            </div>
        </section>

        <div class="py-5 bg-light">
            <div class="container">
                <p>
                    Après les aventures de Jango et Boba Fett, un nouveau héros émerge dans l'univers Star Wars. L'intrigue, située entre la chute de l'Empire et l'émergence du Premier Ordre, suit les voyages d'un chasseur de primes solitaire dans les contrées les plus éloignées
                    de la Galaxie, loin de l’autorité de la Nouvelle République.
                </p>
            </div>
        </div>
<h1>{{ tv_show.title }}</h1>

<hr>
<h2>Liste des saisons </h2>
{% for season in tv_show.seasons %}
    <h3>{{ season.seasonNumber }}</h3>
    <h4>Liste des épisodes
    {% for episode in season.episodes %}
       
    {% endfor %}
    <hr>
{% endfor %}
{% endblock %}
