{% extends 'admin/base_admin.html.twig' %}

{% block title %}Category list {{ parent() }}{% endblock %}

{% block body %}

<div class="container">
{{ include('_partials/_flash_messages.html.twig') }}

<h1>Category list</h1>
<div class="text-end">
<a href="{{ url('admin_category_new') }}" class="btn btn-primary">Create</a>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
{% for category in categories %}
    <tr>
      <th scope="row">{{ category.id }}</th>
      <td>{{ category.name }}</td>
      <td>
        <a class="btn btn-success" href="{{ url('admin_category_show', {"id": category.id}) }}">Read</a>
        <a class="btn btn-primary" href="{{ url('admin_category_edit', {"id": category.id}) }}">Edit</a>
        {{ include('admin/category/_delete_form.html.twig') }}
     </td>
    </tr>
{% endfor %}
  </tbody>
</table>
</div>
{% endblock %}
