{% extends 'admin/base_admin.html.twig' %}

{% block title %}Character{% endblock %}

{% block body %}
    <h1>Character</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ character.id }}</td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ character.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ character.lastName }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ character.gender }}</td>
            </tr>
            <tr>
                <th>Bio</th>
                <td>{{ character.bio }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ character.age }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('admin_character_index') }}">back to list</a>

    <a href="{{ path('admin_character_edit', {'id': character.id}) }}">edit</a>

    {{ include('admin/character/_delete_form.html.twig') }}
{% endblock %}
